---
layout: default
---

<div class="content">

    {% capture french_date %}
    {{ page.date | date: "%-d" }}
    {% assign m = page.date | date: "%-m" | minus: 1 %}
    {{ site.data.fr.months[m] }}
    {{ page.date | date: "%Y" }}
    {% endcapture %}

    <p>Publié le {{ french_date }}</p>

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
